.last-and-final {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  margin-top: 150px;
}
.last-and-para1 {
  font-size: 20px;
  font-weight: bold;
  color: #000000;
}
.last-container-f {
  display: flex;
  align-items: center;
}
